Tuple are used to store multiple itmes in a single variable.

a tuple is similar to list but the it is a collection which is ordered and unchangeable

Tuple items are ordered, unchangeable, and allow duplicate values.

In [1]:
# creating a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
# adding the element in tuple 
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=((1,"hello_world",3.14,True))
print(mixed_tuple)

(1, 'hello_world', 3.14, True)

In [ ]:
# accessing tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])

3
6

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [10]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [11]:
# tuple operations 
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello_world', 3.14, True)

In [ ]:
mixed_tuple * 3
#entirely element is appended 3 times

(1,
 'hello_world',
 3.14,
 True,
 1,
 'hello_world',
 3.14,
 True,
 1,
 'hello_world',
 3.14,
 True)

In [13]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
# immutable nature of tuples 
## tuples are immutable, meaning their element cannot be chnaged once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="rashmi"
print(lst)

[1, 2, 3, 4, 5]
[1, 'rashmi', 3, 4, 5]

In [15]:
numbers[1] = "rashmi"

TypeError: 'tuple' object does not support item assignment

In [17]:
# by default we cannot chnage we can chnage the tuple into list then we can update

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
# tuple methods 
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
# packing and unpacking tuple
# packing
packed_tuple = 1, "hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [23]:
# unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [24]:
# unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [28]:
# nested tuple
# nested list
lst = [[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [29]:
nested_tuple = (
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False, [10, 20, 30])
)

print(nested_tuple[0])      # (1, 2, 3)  → first sub-tuple
print(nested_tuple[1][2])   # "c"        → 2nd tuple ka 3rd element
print(nested_tuple[2][0])   # True       → 3rd tuple ka 1st element

(1, 2, 3)
c
True

In [30]:
print(nested_tuple[2][2])       # [10, 20, 30]  (list mil gayi)
print(nested_tuple[2][2][1])    # 20 (list ka 2nd element)

[10, 20, 30]
20

Tuple immutable hota hai (change nahi hota).

Lekin agar tuple ke andar koi mutable element (like list, dict) hai → uske elements change ho sakte hain.

In [31]:
# iteration over nested tuples 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False [10, 20, 30]