Sets

Sets are built-in data type in python used to store collections of unique items. They are unordered , meaning that the elements do not follow a specific order, and they do not allow duplicates elements. sets are useful for membershi tests, eliminating duplicates entries and performing mathematical set operations like union, intersection, and symmetric difference.

In [1]:
#create a set 
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
# directly class 
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [5]:
set1 = set([1,2,3,4,5])
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

In [6]:
# basics sets operation 
# adding and removing elements

set1.add(7)
print(set1)
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [7]:
# removing the element from a set 
set1.remove(3)
print(set1)

{1, 2, 4, 5, 7}

In [8]:
set1.remove(8)
print(set1)

KeyError: 8

In [9]:
set1.discard(8)
print(set1)

{1, 2, 4, 5, 7}

In [10]:
# pop method 
removed_element = set1.pop()
print(removed_element)
print(set1)

1
{2, 4, 5, 7}

In [11]:
# clear all the elements 
set1.clear()
print(set1)

set()

In [12]:
# set membership test
my_st1 = {1,2,3,4,5,6}
print(3 in my_st1)
print(10 in my_st1)

True
False

In [13]:
# mathematical operation 
set11 = {1,2,3,4,5,6}
set22 = {4,5,6,7,8,9}
# union 
union_set = set11.union((set22))
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# intersection
intersection_set = set11.intersection(set22)
print(intersection_set)

{4, 5, 6}

In [ ]:
set11.intersection_update(set22)
print(set11)
## it is updated in set11

{4, 5, 6}

In [16]:
set11 = {1,2,3,4,5,6}
set22 = {4,5,6,7,8,9}

In [18]:
# difference

print(set11.difference(set22))
print(set22.difference(set11))

{1, 2, 3}
{8, 9, 7}

In [19]:
# symmetric diffrence 
print(set11.symmetric_difference(set22))

{1, 2, 3, 7, 8, 9}

In [23]:
# sets method
set1 = {1,2,3,4,5}
set2={3,4,5}

#is subset 
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [24]:
lt = [1,2,2,3,4,5,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [25]:
# counting unique words in text 
text = "my name is rashmi nd i am learning data analysts basics for making my carrer in data analyst"
words = text.split()

# convert list of words to set to get unique words 
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'rashmi', 'basics', 'carrer', 'in', 'my', 'analysts', 'i', 'is', 'am', 'learning', 'data', 'making', 'for', 'analyst', 'name', 'nd'}
16