# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
t1 = tuple([1,2,3,4,5,6,7,8,9,10])

In [4]:
print(t1[0])
print(t1[5])
print(t1[::-1])

1
6
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [7]:
print(t1[0:3])
print(t1[-4:-1])
print(t1[2:5])

(1, 2, 3)
(7, 8, 9)
(3, 4, 5)

In [4]:
t2 = tuple([1, 2, 3])
t3 = tuple([4, 5, 6])
print([t2+t3])

[(1, 2, 3, 4, 5, 6)]

In [5]:
t4 = tuple([1,2,3,4,5,6,7,8,9,1,2,3])
print(t4.count(1))

2

In [6]:
t5 = 'a', 'b', 'c', 1, 2, 3, 4
print(t5)

('a', 'b', 'c', 1, 2, 3, 4)

In [9]:
x, y, z, p, q, r, s= t5
print(x)
print(y)
print(z)

a
b
c

In [10]:
lst = [1,2,3,4,5]
t6 = tuple(lst)
print(t6,type(t6))

(1, 2, 3, 4, 5) <class 'tuple'>

In [12]:
tu = tuple([[1,2,3],['x','y','z'],[7,8,9]])
print(tu)

([1, 2, 3], ['x', 'y', 'z'], [7, 8, 9])

In [16]:
# Step 1: Define a tuple
tup = (1, 4, 7, 8, 9)

# Step 2: Convert tuple to list
lst1 = list(tup)   # [1, 4, 7, 8, 9]

# Step 3: Append 6
lst1.append(6)

print(lst1)  # [1, 4, 7, 8, 9, 6]

[1, 4, 7, 8, 9, 6]

In [2]:
tupChar = ('R','A','S','H','M','I')
tupString = ' '.join(tupChar)
print(tupString)

R A S H M I

In [3]:
# Dictionary with tuple keys and integer values
dict_tup = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}

print("Dictionary with tuple keys:", dict_tup)

Dictionary with tuple keys: {(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [4]:
# Nested tuple
nested_tup = ((1, 2), (3, 4, 5), (6, 7))

print("Iterating over nested tuple:")
for inner in nested_tup:
    for element in inner:
        print(element, end=" ")

Iterating over nested tuple:
1 2 3 4 5 6 7

In [5]:
# Tuple with duplicate elements
tup_with_duplicates = (1, 2, 2, 3, 4, 4, 5)

# Convert to set (removes duplicates)
unique_set = set(tup_with_duplicates)

print("Set after removing duplicates:", unique_set)

Set after removing duplicates: {1, 2, 3, 4, 5}

In [6]:
# Function to get min, max, sum of a tuple
def tuple_stats(t):
    return min(t), max(t), sum(t)

sample_tup = (10, 5, 20, 15)

min_val, max_val, sum_val = tuple_stats(sample_tup)

print("Tuple:", sample_tup)
print("Minimum:", min_val)
print("Maximum:", max_val)
print("Sum:", sum_val)

Tuple: (10, 5, 20, 15)
Minimum: 5
Maximum: 20
Sum: 50