A variable in Python is a name that refers to a value or data stored in memory, allowing programmers to store, reuse, and manipulate information easily throughout a program. Variables are created by simply assigning a value to a name using the equals sign (=), and their type is determined automatically based on the value assignedâ€”there is no need for explicit type declaration.

Key Points About Variables in Python
Variables act as containers for storing data values such as numbers, text, lists, and more.

Variable names can include letters, numbers, and underscores but must not start with a number or use Python keywords.

Python variables are case-sensitive (so Age and age are different).

Variables can change type by reassignment (e.g., a variable can be an integer now and a string later).

In [1]:
# declaring and assigning Variables

x = 5            # x is an integer
name = "Riya"    # name is a string
pi = 3.14        # pi is a float
is_valid = True  # is_valid is a boolean

print(x)
print(name)
print(pi)
print(is_valid)

5
Riya
3.14
True

In [5]:
# naming coventions
# variable name should be description 
# they must start with a letter or an "_" and contains letter,number and underscroes
# variables names are case senstive 

#valid variables names 
frist_name = "Rashmi"
last_name = "Dongre"

In [ ]:
# invalid variable names 
#2age = 30
#frist-name = "rashmi"
#@name = "rashmi"

In [12]:
# case sensitivity 
name = "Rashmi"
Name = "Rashmi"

In [30]:
# undersating variables types 
# python is dynamically typed, typed of a varible is determined at runtime
age = 25  #int
height = 525.01 #flot
name = "rashmi" #str
is_student = True #bool

print(type(name))

<class 'str'>

In [25]:
#type checking and conversion
type(height)

float

In [17]:
age = 23
print(type(age))

# type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [18]:
age = '23'
int(age)
print(type(age))

<class 'str'>

In [26]:
name = "my name is rashmi"
int(name)

ValueError: invalid literal for int() with base 10: 'my name is rashmi'

will produce an error because the string "my name is rashmi" contains non-numeric characters and cannot be converted to an integer using int().

Explanation:
The int() function can only convert strings that represent valid integers (e.g., "123", "-45").

If the string contains letters or spaces, like in this example, Python raises a ValueError.

In [27]:
heigth = 5.11
type(height)

float

In [29]:
int(heigth)

5

In [31]:
float(int(heigth))

5.0

In [33]:
# Dynamic Typing 
# python allows the type of a variable to chnage as the program executes
x = 10      # x is an integer
print(x, type(x))

x = "Hello"  # Now x is a string
print(x, type(x))

x = 3.14    # Now x is a float
print(x, type(x))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [37]:
## input 
age = input("what is your age")
print(age,type(age))

23 <class 'str'>

In [38]:
age = int(input("what is your age"))
print(age,type(age))

23 <class 'int'>

In [42]:
# buliding simple calculator
num1 = float(input("please enter the frist num"));
num2 = float(input("please enter the second num"));

sum = num1 + num2
diffrence = num1 - num2
product = num1 *  num2
quotient = num1 / num2

print("Sum :", sum)
print("diffrence :", diffrence)
print("Product :", product)
print("quotient :", quotient)

Sum : 63.0
diffrence : 49.0
Product : 392.0
quotient : 8.0