introduction to dictionaries 

dictionaries are unordered collections of items. they store data in key-value pairs. keys must be unique and immutable.

In [1]:
# creating dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [3]:
student = {"name":"Rashmi",
           "age":23,
           "grade":24}
print(student)
print(type(student))

{'name': 'Rashmi', 'age': 23, 'grade': 24}
<class 'dict'>

In [ ]:
# error
student = {"name":"Rashmi",
           "age":23,
           "name":24}
print(student)
# keys should be unique always

{'name': 24, 'age': 23}

In [5]:
# accessing Dictionary elements
student = {"name":"Rashmi",
           "age":23,
           "grade":'A'}
print(student)

{'name': 'Rashmi', 'age': 23, 'grade': 'A'}

In [8]:
print(student['grade'])
print(student['age'])

# accessing using get() methos 
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
23
A
None
Not Available

In [9]:
# modifying dictionary elemeny 
# dictionary are mutable so you can add, update or delete elements 
print(student)

{'name': 'Rashmi', 'age': 23, 'grade': 'A'}

In [ ]:
student["age"] = 33 #updated value for the key
print(student)
student["address"]="India" #added a new key and value pair
print(student)

{'name': 'Rashmi', 'age': 33, 'grade': 'A'}
{'name': 'Rashmi', 'age': 33, 'grade': 'A', 'address': 'India'}

In [11]:
# deleting the key 

del student['grade']

In [12]:
print(student)

{'name': 'Rashmi', 'age': 33, 'address': 'India'}

In [13]:
## common dictionary methods 

keys= student.keys()
print(keys)
values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Rashmi', 33, 'India'])
dict_items([('name', 'Rashmi'), ('age', 33), ('address', 'India')])

In [14]:
#shallow copy 
student_copy = student
print(student)
print(student_copy)

{'name': 'Rashmi', 'age': 33, 'address': 'India'}
{'name': 'Rashmi', 'age': 33, 'address': 'India'}

In [15]:
student["name"] = "rashiya"
print(student)
print(student_copy)

{'name': 'rashiya', 'age': 33, 'address': 'India'}
{'name': 'rashiya', 'age': 33, 'address': 'India'}

In [16]:
student_copy1 = student.copy() ##shallow copy 
print(student_copy1)
print(student)

{'name': 'rashiya', 'age': 33, 'address': 'India'}
{'name': 'rashiya', 'age': 33, 'address': 'India'}

In [17]:
student["name"] = "rashmii"
print(student)
print(student_copy1)

{'name': 'rashmii', 'age': 33, 'address': 'India'}
{'name': 'rashiya', 'age': 33, 'address': 'India'}

In [18]:
### iterating over dictionaries 
### you can use loops to iterate over dictionetries , key, values or items 

##iterating over keys 
for keys in student.keys():
    print(keys)

name
age
address

In [20]:
for value in student.values():
    print(value)

rashmii
33
India

In [22]:
# iterate over key value pairs 
for key,value in student .items():
    print(f"{key}:{value}")

name:rashmii
age:33
address:India

In [23]:
# Nested dictionary of students
students = {
    "student1": {
        "name": "Rashmi",
        "age": 20,
        "grade": "A",
        "marks": {"Math": 95, "English": 88, "Science": 92}
    },
    "student2": {
        "name": "Dev",
        "age": 21,
        "grade": "B",
        "marks": {"Math": 85, "English": 78, "Science": 82}
    },
    "student3": {
        "name": "Raju",
        "age": 19,
        "grade": "A+",
        "marks": {"Math": 98, "English": 92, "Science": 96}
    }
}

# Print the nested dictionary
for key, value in students.items():
    print(f"{key}: {value}")

student1: {'name': 'Rashmi', 'age': 20, 'grade': 'A', 'marks': {'Math': 95, 'English': 88, 'Science': 92}}
student2: {'name': 'Dev', 'age': 21, 'grade': 'B', 'marks': {'Math': 85, 'English': 78, 'Science': 82}}
student3: {'name': 'Raju', 'age': 19, 'grade': 'A+', 'marks': {'Math': 98, 'English': 92, 'Science': 96}}

In [24]:
# access nested dictionaries elements 
print(students["student1"]["name"])
print(students["student2"]["age"])

Rashmi
21

In [25]:
## iterating over nested dictionaries 
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Rashmi', 'age': 20, 'grade': 'A', 'marks': {'Math': 95, 'English': 88, 'Science': 92}}
name:Rashmi
age:20
grade:A
marks:{'Math': 95, 'English': 88, 'Science': 92}
student2:{'name': 'Dev', 'age': 21, 'grade': 'B', 'marks': {'Math': 85, 'English': 78, 'Science': 82}}
name:Dev
age:21
grade:B
marks:{'Math': 85, 'English': 78, 'Science': 82}
student3:{'name': 'Raju', 'age': 19, 'grade': 'A+', 'marks': {'Math': 98, 'English': 92, 'Science': 96}}
name:Raju
age:19
grade:A+
marks:{'Math': 98, 'English': 92, 'Science': 96}

In [28]:
# Create dictionary of squares from 1 to 10
square = {x: x**2 for x in range(1, 11)}

# Print the dictionary
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [29]:
even_squares = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# practical examples

## use a dictionary to count the frequncy of elements in list 

numbers = [1,2,2,3,3,4,4,4]
frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1

In [31]:
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 3}

In [33]:
# merger 2 dictionary into one 

dict1 = {"a":1, "b":2}
dict2= {"c":3,"d":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}